css file
.css-selector {
    font-family: 'Poiret One', cursive;
    font-family: 'VT323', monospace;
}

html {
    background: black;
}

head {
    color: white;
}

body {
}

p    {
	color: white;
    text-align: center;
    text-shadow: 0 0 5px #FFFFFF;
	
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  background-size: cover;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}


#hpbg {
  position: relative;
  background-image: url("hbg.png" );
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 26%;
}

#ppbg {
  position: relative;
  background-image: url("pbg.jpg" );
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 6%;
}

#cpbg {
  background-image: url("aaaa_1.mp4" );
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 16%;
}

.dddd{
    color: white;
    background: transparent;
    border: transparent;
    font-size: 300%;
}


#hpheaders {
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: Poiret One;
    font-size: 80%;
    margin-left: auto;
    margin-right: auto;
}

.hphome {
    position: relative;
    font-size: 100%;
    float: left;
    margin-top: -5px;
    margin-left: 10px;
    margin-right: 10px;
}

.hpportfolio{
    position: relative;
    font-size: 80%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.hpcontact {
    position: relative;
    font-size: 80%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}



.preview {
    position: absolute;
    width: 150px;
    height:150px;
    margin-top: 50px;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;

}


.post1 {
    background-image: url("post1.JPG" );
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    
}
.post2 {
    background-image: url("post2.JPG" );
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 10px;
}
.post3 {
    background-image: url("post3.JPG" );
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 10px;
}
.post4 {
    background-image: url("post4.JPG" );
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 10px;

}
.post5 {
    background-image: url("post5.JPG" );
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    
}
.post6 {
    background-image: url("post6.JPG" );
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 10px;

}
.post7 {
    background-image: url("post7.JPG" );
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 10px;

}
.post8 {
    background-image: url("post8.JPG" );
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 10px;

}
.post9 {
    background-image: url("post9.JPG" );
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 10px;
}



.slick-prev {
    background: transparent;
    border: transparent;
    text: transparent;
}

.slick-next {
    background: transparent;
    border: transparent;
}


.first {
    position:absolute; 
    width:100%; 
    text-align:center;
    font-family: 'Poiret One', cursive;
    font-size: 100%;
    top:430px; 
	left:auto;
	right:auto;
	color:white;
}

.second {
    position:absolute; 
    width:100%; 
    text-align:center;
    font-family: 'Poiret One', cursive;
    font-size: 600%;
    top:490px; 
	left:auto;
	right:auto;
	color:white;
	z-index: 2;
}


.third {
    position:absolute; 
    width:100%; 
    text-align:center;
    font-family: 'Poiret One', cursive;
    font-size: 80%;
    top:670px; 
	left:auto;
	right:auto;
	color:white;
}

.fourth {
    position:absolute; 
    width:100%; 
    text-align:center;
    font-family: 'Poiret One', cursive;
    font-size: 80%;
    top:690px; 
	left:auto;
	right:auto;
	color:white;
}

.fifth {
    position:absolute; 
    width:100%; 
    text-align:center;
    font-family: 'Poiret One', cursive;
    font-size: 80%;
    top:670px; 
	left:auto;
	right:auto;
	color:white;
	z-index: 0;
}

.sixth {
    position:absolute; 
    width:100%; 
    text-align:center;
    font-family: 'Poiret One', cursive;
    font-size: 80%;
    top:690px; 
	left:auto;
	right:auto;
	color:white;
	
	z-index: 1;
}

.seventh {
    position:absolute; 
    width:100%; 
    text-align:center;
    font-family: 'Poiret One', cursive;
    font-size: 100%;
    top:200px; 
	left:auto;
	right:auto;
	color:white;

}

.eight {
    position:absolute; 
    width:100%; 
    text-align:center;
    font-family: 'Poiret One', cursive;
    font-size: 100%;
    top:230px; 
	left:auto;
	right:auto;
	color:white;

}

.nine {
    position:absolute; 
    width:100%; 
    text-align:center;
    font-family: 'Poiret One', cursive;
    font-size: 100%;
    top:320px; 
	left:auto;
	right:auto;
	color:white;

}

.ten {
    position:absolute; 
    width:100%; 
    text-align:center;
    font-family: 'Poiret One', cursive;
    font-size: 100%;
    top:340px; 
	left:auto;
	right:auto;
	color:white;

}

.eleven {
    position:absolute; 
    width:100%; 
    text-align:center;
    font-family: 'Poiret One', cursive;
    font-size: 100%;
    top:420px; 
	left:auto;
	right:auto;
	color:white;

}

.twelve {
    position:absolute; 
    width:100%; 
    text-align:center;
    font-family: 'Poiret One', cursive;
    font-size: 100%;
    top:450px; 
	left:auto;
	right:auto;
	color:white;

}









#ppheaders {
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: Poiret One;
    font-size: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.pphome {
    position: relative;
    font-size: 80%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.ppportfolio{
    position: relative;
    font-size: 100%;
    float: left;
    margin-top: -5px;
    margin-left: 10px;
    margin-right: 10px;
}

.ppcontact {
    position: relative;
    font-size: 80%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

#categories {
    position: relative;
    float: top;
    width: 980px;
    height:350px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}

.c1 {
    width: 150px;
    height: 150px;
    background-image: url("studio.png" );
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}


.c2 {
    width: 150px;
    height: 150px;
    background-image: url("lab.png" );
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.c3 {
    width: 150px;
    height: 150px;
    background-image: url("photography.png" );
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.c4 {
    width: 150px;
    height: 150px;
    background-image: url("post4.JPG" );
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.c5 {
    width: 150px;
    height: 150px;
    background-image: url("post5.JPG" );
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.c6 {
    width: 150px;
    height: 150px;
    background-image: url("post6.JPG" );
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.final {
    width: 878px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 70px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 2;
}

.dropdown:hover .dropdown-content {
    display: block;
}












#cpheaders {
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: Poiret One;
    font-size: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.cphome {
    position: relative;
    font-size: 80%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.cpportfolio{
    position: relative;
    font-size: 80%;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.cpcontact {
    position: relative;
    font-size: 100%;
    float: left;
    margin-top: -5px;
    margin-left: 10px;
    margin-right: 10px;
}